/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-flat-button.mat-accent, .mat-raised-button.mat-accent {
    background-color: #e79a26;
}
.mat-fab.mat-accent, .mat-mini-fab.mat-accent {
    background-color: #e73326;
}
.edit{
    background-color: #e79a26;  
}
.delete{
    background-color: #e73326;
}