<mat-toolbar class="mat-toolbar">
    <button mat-icon-button>
        <mat-icon class="toolbar-icon" (click)="sidenav.toggle()">menu</mat-icon>
      </button>  
  </mat-toolbar>
  <mat-sidenav-container class="mat-sidenav-container mat-sidenav">
    <mat-sidenav class = "mat-sidenav-1" #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
        (closed)="events.push('close!')">
        <mat-nav-list class = "mat-sidenav" >
            <h2>
                <mat-icon aria-hidden="false" aria-label="Example user icon" class="card-icon">library_books</mat-icon>
                Courses</h2>
          </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>  
      <app-course-edit></app-course-edit>
      <app-course-list></app-course-list>
    </mat-sidenav-content>
  </mat-sidenav-container>
  