.mat-toolbar{
    background-color:#175D91;
}
.mat-sidenav{
    height: 1000px;
}
.mat-sidenav-1{
    background-color:#175D91;
    width: 150px;
}
h2{
    color: cornsilk;
}
.toolbar-icon{
    color: cornsilk;
}