<div class="container">
    <table mat-table [dataSource]="courseList" class="list-width" matSort style="box-shadow: 0 3px 5px -1px rgba(5, 103, 214, 0.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th style="width: 100px;" mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)"></mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="CourseName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Course Name </th>
          <td mat-cell *matCellDef="let employee"> {{employee.courseName}} </td>
        </ng-container>

        <ng-container matColumnDef="Instructor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Instructor </th>
          <td mat-cell *matCellDef="let employee"> {{employee.instructor}} </td>
        </ng-container>
        <ng-container matColumnDef="Pages">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Pages </th>
            <td mat-cell *matCellDef="let employee"> {{employee.pages}} </td>
          </ng-container>
        <ng-container matColumnDef="Edit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>

          <td mat-cell *matCellDef="let employee">

            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" type="button" class="edit" mat-raised-button color="accent" matTooltip="Edit" (click)="loadCourseToEdit(employee.id)"><mat-icon>edit</mat-icon></button>

          </td>
        </ng-container>

        <ng-container matColumnDef="Delete">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
          <td mat-cell *matCellDef="let employee"> <button mat-icon-button aria-label="Example icon button with a delete icon" class="delete" type="button" mat-raised-button color="accent" matTooltip="Delete" (click)="deleteEmployee(employee.id)"><mat-icon>delete_forever</mat-icon></button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
</div>