<mat-toolbar class="mat-toolbar">
    <button mat-icon-button>
        <mat-icon class="toolbar-icon" (click)="sidenav.toggle()">menu</mat-icon>
      </button>  
  </mat-toolbar>
  <mat-sidenav-container class="mat-sidenav-container mat-sidenav">
    <mat-sidenav class = "mat-sidenav-2" #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
        (closed)="events.push('close!')">
          <mat-nav-list>
            <mat-list-item [ngClass]="activeTab == courseTabs.list? 'tc-list-item-focus':''" (click)="activeTab = courseTabs.list;" class = "mat-sidenav">
              <a routerLink="/course-list" routerLinkActive="active">
                <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                Course
              </a>
            </mat-list-item>
            <mat-list-item [ngClass]="activeTab == courseTabs.list? 'tc-list-item-focus':''" (click)="activeTab = courseTabs.list;" class = "mat-sidenav">
                <a routerLink="/course-edit" routerLinkActive="active">
                  <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                  Add Course
                </a>
              </mat-list-item>
          </mat-nav-list>
        
    </mat-sidenav>
    <mat-sidenav-content>  
    <div [ngClass]="activeTab==courseTabs.edit? '':'tc-hidden'">
        <app-course-edit></app-course-edit>
    </div>
      <div [ngClass]="activeTab==courseTabs.list? '':'tc-hidden'">
        <app-course-list></app-course-list>
      </div>
      
    </mat-sidenav-content>
  </mat-sidenav-container>

<!-- <app-course-edit></app-course-edit> -->

<!-- <app-login></app-login> -->
