.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #0a73d4; /* green */
  }
  

  .demo-full-width-form{
    width: 600px;
  }
  .demo-full-width{
    width: 500px;
    margin-left: 25px;
  }
  .mat-toolbar.mat-accent{
    background: #175d91;
    color: #fff;
  }
  .size{
    margin-left: 500px;
  }
  .delete{
    background-color:rgb(233, 77, 77);
}