<div class="container size">
  <mat-card class="mat-elevation-z8" class="demo-full-width-form">
    <mat-toolbar color="accent" style="box-shadow: 0 3px 5px -1px rgba(16, 130, 223, 0.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);">
      <div align="center" style="color:white;text-align: right;">
        Course Portal
      </div>
    </mat-toolbar>
    <br><br>
    <mat-card-content>
      <form [formGroup]="courseForm" (ngSubmit)="onFormSubmit()">
        <table>
          <tr>
            <div>
              <td class="tbl1">
                <mat-form-field class="demo-full-width" >
                  <input formControlName="CourseName" matTooltip="Enter CourseName" matInput placeholder="CourseName" autocomplete="off">
                </mat-form-field>
                <mat-error>
                  <span *ngIf="!courseForm.get('CourseName').value && courseForm.get('CourseName').touched"></span>
                </mat-error>
              </td>
            </div>
            <div>
              <td class="tbl1">
                <mat-form-field class="demo-full-width">
                  <input formControlName="Instructor" matTooltip="Enter Instructor" matInput placeholder="Instructor" autocomplete="off">
                </mat-form-field>
                <mat-error>
                  <span *ngIf="!courseForm.get('Instructor').value && courseForm.get('Instructor').touched"></span>
                </mat-error>
              </td>
            </div>

            <div>
              <td class="tbl1">
                <mat-form-field class="demo-full-width">
                  <input formControlName="Pages" matTooltip="Enter Pages" matInput placeholder="Pages" autocomplete="off">
                </mat-form-field>
                <mat-error>
                  <span *ngIf="!courseForm.get('Pages').value && courseForm.get('Pages').touched"></span>
                </mat-error>
              </td>
            </div>
          </tr>
          
            
          <tr>
            <td class="content-center">
              <button type="submit" mat-raised-button color="accent" matTooltip="Submit" style="margin:5px;">Submit</button>
              
              <button type="reset" mat-raised-button color="accent" matTooltip="Reset" class="delete" (click)="resetForm()">Reset</button>
            </td>
            <td>
              <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">
                {{massage}}
              </p>
            </td>
            <td></td>
            <td></td>
          </tr>
        </table>

      </form>
    </mat-card-content>
  </mat-card>
</div>